html {
  background-color: $color-background-dark;
  overflow-x: hidden;
}

.app {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $ling-height;
  color: $color-text;
  .app__header {
    z-index: 100;
  }
  .nav {
    z-index: 300;
  }
  .dimmed {
    z-index: 200;
  }
}

.app__body {
  @include transition (padding);
}

.dimmed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-text-lighter;
  opacity: .8;
  &.fade-enter-active,
  &.fade-leave-active {
    @include transition (opacity);
  }
  &.fade-enter,
  &.fade-leave-to {
    opacity: 0
  }
}
