.input {
  @extend %form-init;
  padding: 12px;
  border: 2px solid $color-border;
  background-color: $color-background;
  &:focus {
    border-color: $color-brand;
    color: $color-text;
  }
}

::-webkit-input-placeholder {
  color: $color-border-dark;
}

.button-wrap {
  display: flex;
  margin-top: $space-unit / 2;
  .button ~ .button {
    margin: 0 0 0 $space-unit / 2;
  }
}

.button {
  @extend %form-init;
  position: relative;
  padding: 12px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $color-text-light;
  background-color: lighten($color-text-light, 8);
  border-radius: $radius-unit;
  color: $color-background;
  font-weight: bold;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.12);
  }
  &:focus ,
  &:hover {
    &:before {
      display: block;
    }
  }
  &.button-small {
    padding: 6px 10px;
    font-size: $font-size-small;
  }
  &.button-primary {
    border-color: darken($color-brand, 10);
    background-color: $color-brand;
  }
  &.button-success {
    border-color: darken($color-success, 10);
    background-color: $color-success;
  }
  &.button-danger {
    border-color: darken($color-danger, 10);
    background-color: $color-danger;
  }
}

form {
  .input ~ .input,
  .input ~ .button,
  .button ~ .button {
    margin-top: $space-unit / 2;
  }
}
