%form-init {
  -webkit-appearance: none;
  box-sizing: border-box;
  box-shadow: none;
  display: block;
  outline: 0;
  border-radius: 0;
  padding: 12px 12px 9px;
  margin: 0;
  width: 100%;
  font-size: 16px;
}
